<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title> Document </title>


      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
      <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>


    </head>

    <body>

        <h1>ChatBOT</h1>


    <div>
        <div id = "chatbot">
            <p class="botText"><span>Hi There!</span></p>
        </div>

        <div id="userInput">
            <input type="text" id="textInput" name="userMessage" placeholder="Type your message..."/>
            <input type="submit" value="Send" id="buttonInput"/>

        </div>
    </div>

<!-- 
    Creating a function to take input from the user. -->

    <script>
        function getUserResponse(){
            var userText = $('#textInput').val();
            var userHTML = '<p class="userText">User: <span>' + userText + '</span></p>';
            $('#textInput').val("");
            $('#chatbot').append(userHTML);
    }


        $('#buttonInput').click(function(){
            getUserResponse();
        })
    </script>
    
    </body>
</html>
